.borde1
{
  background-color: rgb(125, 173, 72);
  height: 50px;
}
.borde2
{
  background-color: rgb(101, 154, 217);
  height: 50px;
}
.borde3
{
  background-color: rgb(134, 73, 181);
  height: 50px;
}
